body {

    background-color: rgb(117, 28, 28);
    background-image: url("https://i.pinimg.com/736x/77/21/da/7721da871c9925d1e93b679907d24ca2.jpg")


}


.container {

    font-size: 20px;
    text-align: center;
    padding: 15px;
    gap: 5px;
    background-color: rgb(126, 26, 26);
    display : grid;
    grid-template-columns: auto auto;
    padding : 5px;
    gap: 10px;


}

#part1 {

    width: 100%;
    heingt: 200%;
    font-size: 30px ;
    background-color: rgb(108, 25, 25);
    font-family: myfont;
    border-radius: 20px;
  }

 #part2 { 
   
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start: 2;
    grid-row-end: 20;
    background-color: rgb(108, 25, 25);
   
  }
  #part3 {
  
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 20;
    background-color: rgb(108, 25, 25);
  
  }
#part4 {

    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 20;
    grid-row-end: 30;
    background-color: white;
}

#part5 {

   grid-column-start: 1;
   grid-column-end: 2;
    grid-row-start: 30;
    grid-row-end: 45;
}

#part6 {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 30;
    grid-row-end: 45;
}
